{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Send Mail{% endblock %}

{% block headline %}<h1>Login Custom_User</h1>{% endblock %}

{% block content %}
	<div class='row'>
		<div class='col-sm-4 col-sm-offset-4'>
		    <form action="." method="POST">
		        {% csrf_token %}
		        {{ form|crispy }}
		      <input class='btn btn-lg btn-primary btn-block' type='submit' value='Submit' /><br>
			  <input type="hidden" name="next" value="{{ next }}" />
		    </form>
			
	<p>Forgot Your Password? <a href="{% url 'password_reset' %}">Reset Password</a></p>
	<p>Forgot Your Password? <a href="{% url 'password_change' %}">Change Password</a></p>

    	</div>
    </div>
{% endblock %}